:root {
    --blue-color: #51b4e9;
    --black-color: #1a1a1a;
    --dark-grey-color: #808080;
    --light-grey-color: #f8f9fa;
    --white-color: #ffffff;
}


body {
    font-family: "Verdana";
    color: var(--black-color);
    background-color: var(--light-grey-color);
    margin: 0;
}

.container {
    width: 100%;
    padding: 15px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;

}


/*header*/
/* hero */
.hero img {
    border-radius: 9999rem !important;
}


/* navigation */

nav{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
    box-shadow: 0 1px 7px rgb(0 0 0 / 10%);
}

header{
    margin-top: 100px; 
}

.navigation .brand{
    font-family: "Caveat";
}

.navigation .brand h1{
    font-size: 3em;
}


.navigation {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: var(--white-color);
    border-bottom: 1px solid var(--light-grey-color);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: var(--black-color);
    height: 50px;
    padding: 1em;
}
.menu {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .menu > li {
    margin: 0 1rem;
    overflow: hidden;
  }
  
  .menu-button-container {
    display: none;
    height: 100%;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  #menu-toggle {
    display: none;
  }
  
  .menu-button,
  .menu-button::before,
  .menu-button::after {
    display: block;
    background-color: #fff;
    position: absolute;
    height: 4px;
    width: 30px;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 2px;
  }
  
  .menu-button::before {
    content: '';
    margin-top: -8px;
  }
  
  .menu-button::after {
    content: '';
    margin-top: 8px;
  }
  
  #menu-toggle:checked + .menu-button-container .menu-button::before {
    margin-top: 0px;
    transform: rotate(405deg);
  }
  
  #menu-toggle:checked + .menu-button-container .menu-button {
    background: rgba(255, 255, 255, 0);
  }
  
  #menu-toggle:checked + .menu-button-container .menu-button::after {
    margin-top: 0px;
    transform: rotate(-405deg);
  }
  
  @media (max-width: 700px) {
    .menu-button-container {
      display: flex;
    }
    .menu {
      position: absolute;
      top: 0;
      margin-top: 50px;
      left: 0;
      flex-direction: column;
      width: 100%;
      justify-content: center;
      align-items: center;
    }
    #menu-toggle ~ .menu li {
      height: 0;
      margin: 0;
      padding: 0;
      border: 0;
      transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    #menu-toggle:checked ~ .menu li {
      border: 1px solid #333;
      height: 2.5em;
      padding: 0.5em;
      transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    .menu > li {
      display: flex;
      justify-content: center;
      margin: 0;
      padding: 0.5em 0;
      width: 100%;
      color: white;
      background-color: #222;
    }
    .menu > li:not(:last-child) {
      border-bottom: 1px solid #444;
    }
  }



/* articles */
.articles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}

.article {
    width: 200px;
    height: 450px;
    padding: 1rem;
    background-color: var(--white-color);
    border-radius: 20px;

}

.article .title {
    font-size: 0.875rem;
    font-weight: bold;
}

.article .benefit {
    font-size: 1.25rem;
    color: var(--dark-grey-color);
}

.article .link {
    text-transform: uppercase;
    color: var(--blue-color);
}









@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}